{%extends 'base.html'%} 
{%load static%} 
{% block styles %} 
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %} 
{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center " id="landing">
            <div class="col-12 text-center text-wrap">
                <h1 class="fw-light">Kenya Homes Insight</h1><br>
                <h2 class="fw-light">Yout Dream Home Awaits</h2><br>
                <p class="lead">Find your Home. <br>We are a Real Estate agency that will help you find the best residence that you dream of.</p>
                <a class="btn btn-outline-light btn-lg projects" href="{%url 'homepage'%}" role="button">View Listings</a>
            </div>
        </div>
    </div>
</header>
{% endblock content %}